.basket{
    display: flex;
    gap: 30px;
    padding: 20px 50px;
}
.basket .parent{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: start;
    border: 1px solid hsl(0, 0%, 60%);
    padding: 20px;
    width: calc(100% / 3);
    gap: 10px;
}
aside{
    border: 1px solid hsl(0, 0%, 60%);
    padding: 10px;
    right : 0;
    top: 100px;
    z-index: 3;
    height: 100%;
    width: calc(100% / 3);
    z-index: 0;
}
.basket .parent .child{
    width: 100%;
    display: flex;
    border-top: 1px solid black;
}
.basket .box{
    width: calc(100% / 2);
    padding: 20px;
    height: 200px;
}
.basket .box:nth-child(3){
    display: flex;
    align-items: flex-start;
    padding: 0px;
    width: 40px;
}
.basket img{
    width: 100%;
    object-fit: contain;
    height: 100%;
}
.basket .count{
    display: flex;
    align-items: center;
}
.basket .count span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


@media (min-width: 990px) and (max-width: 1200px){
    .basket{
        padding: 0px 40px!important;
    }
    .basket .parent{
        gap: 15px;
    }
    
    .basket  .child{
        display: flex;
        gap: 10px;
    }
}
@media (min-width: 770px) and (max-width: 989px){
    .basket{
        padding: 0px 20px!important;
    }
    .basket .parent{
        padding: 10px 0px;
        gap: 10px;
    }
    .basket  .child{
        display: flex;
        gap: 10px;
    }
}
@media (min-width: 448px) and (max-width: 769px){
    .basket{
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
    }
    .basket .parent{
        width: 100%;
        padding: 0px;
    }
    .basket aside{
        width: 100%;
    }
    .basket .child{
        display: flex;
        gap: 0px;
    }
    .basket .count span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}
@media (max-width: 447px){
    .basket{
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    .basket .parent{
        width: 100%;
        padding: 0px;
    }
    .basket aside{
        width: 100%;
    }
    .basket .child{
        display: flex;
        gap: 0px;
        font-size: 14px;
    }
    .basket .count {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .basket span{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -20px;
    }
    .basket span button{
        font-size: 15px;
    }
}
