.container{
    max-width: 1500px;
}
.container .parent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.container .child{
    width: calc(100% / 2);
}
.container .child img{
    width: 90%;
}
.container .sizeBtnDiv{
    display: flex;
    gap: 20px;
}
.container .child p{
    margin-top: 20px;
    margin-bottom: 0;
}
.container .child .box{
    display: flex;
    gap: 20px;
    margin: 20px 0px;
}
.container .child .box button{
    width: 180px;
}

@media (min-width: 448px) and (max-width: 769px){
    .container .parent{
        display: flex;
        flex-wrap: wrap;   
        padding: 10px 20px;
        margin: auto;
    } 
    .container .child{
        width: 100%;
    }
    .container .child:nth-child(2){
        padding: 20px;
    }
    .container .child img{
        margin: 10px 20px;
    }
    .container .child .box button{
        width: calc(100% / 2);
        font-size: 14px;
    }
}
@media (max-width: 447px){
    .container .parent{
        display: flex;
        flex-wrap: wrap;   
        padding: 10px 10px;
        margin: auto;
    } 
    .container .child{
        width: 100%;
    }
    .container .child:nth-child(2){
        padding: 10px;
    }
    .container .child img{
        margin: 10px 20px;
    }
    .container .child .box button{
        width: calc(100% / 2);
        font-size: 12px;
    }
}